<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="GlobalWeatherSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="GlobalWeatherSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="basicHttpBinding" bindingConfiguration="GlobalWeatherSoap"
        contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap" />
      <endpoint address="http://www.webservicex.net/globalweather.asmx"
        binding="customBinding" bindingConfiguration="GlobalWeatherSoap12"
        contract="ServiceReference1.GlobalWeatherSoap" name="GlobalWeatherSoap12" />
    </client>
  </system.serviceModel>
</configuration>